<header class="jumbotron">
  <h1>Welcome  <%= @user.first_name %></h1>
  <p> Your Score: <%= @user.score%></p>
</header>
  <p>Please click on to deactivate account<%= link_to "Deactivate account", deactivate_user_path(@user),  data: { confirm: "Are you sure, you want to inactivate?" } %></p>

